


h1, h2 {
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px;
  }
  
  /*iframe*/
  
  iframe {
    display: block;
    margin: auto;
  }
  
  /*formulario*/
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"], textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }



  /*footer*/

footer {
    margin: 20px;
    padding: 20px;
    border-top: 1px solid black;
    text-align: center;
  }
  .abajo {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
  }
  
  .texto-footer {
    font-size: medium;
  }
  .home {
    width: 100%;
    height: 100%;
  }
  

  .btnFormulario {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
  }


  // Estilo del cuerpo del texto
body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
}

// Estilo de encabezados (puedes ajustar según sea necesario)
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  color: $text-color;
}

// Estilo de párrafos
p {
  margin-bottom: 1em;
}

// Otros estilos según sea necesario (por ejemplo, enlaces, listas, etc.)
a {
  color: #007bff; // Cambia el color de los enlaces según tu preferencia
  text-decoration: none;
  
  &:hover {
    text-decoration: underline; // Subraya los enlaces al pasar el ratón
  }
}


$caja-color: #f0f0f0;
$caja-padding: 20px;
$texto-color: #333;
$texto-font-size: 16px;

// Definir variables para reutilizar valores comunes
$caja-color: #f0f0f0;
$caja-padding: 20px;
$texto-color: #333;
$texto-font-size: 16px;

// Estilo de la caja
.caja {
  background-color: $caja-color;
  padding: $caja-padding;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  // Estilo del texto dentro de la caja
  p {
    color: $texto-color;
    font-size: $texto-font-size;
  }
}