// Variables
$text-color: #292727;
$font-family: 'Arial', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$tamano-boton: 150px;
$footer-height: 40px; // Ajusta la altura de tu footer según sea necesario